{{extend 'layout.html'}} {{block head}}
<link rel="stylesheet" href="{{=URL('static', 'css/aboutus.css')}}">

<style>

.bgimg-1 {
  background-image: url("{{=URL('static', 'images', args='fruit.jpg')}}");
}

.bgimg-2 {
  background-image: url("{{=URL('static', 'images', args='salad.jpg')}}");
}

.bgimg-3 {
  background-image: url("{{=URL('static', 'images', args='food.jpg')}}");
}


</style>
{{end}}

<main role="main" id="vue-div">

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">About us: The Food Dudes</h1>
    <p></p>

  </div>
</div>

<div class="bgimg-1">
  <div class="caption">

  </div>
</div>

<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
  <h3 style="text-align:center;">Who we are</h3>
  <p>We are The Food Dudes - Sasha, Rachel, Sri, and Samir. Welcome to our app!</p>
</div>

<div class="bgimg-2">
  <div class="caption">

  </div>
</div>

<div style="position:relative;">
  <div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
    <h3 style="text-align:center;">What is this?</h3>
    <p>Our app was designed to help people choose foods that fit their dietary needs and interests. You can search your 
    desired meal in the search bar, or you can use the filters to automatically bring up the foods that match the selected
  criteria. The filters are chosen based on common dietary choices and possible allergies, which we believe are what people 
  use in the real world to select their food. We hope that this can introduce more variety to peoples cuisines. Enjoy!</p>
  </div>

</div>

<div class="bgimg-3">
  <div class="caption">

  </div>
</div>





</main>
