{{extend 'layout.html'}} {{block head}}
<script src="{{=URL('static', 'js/default_favorites.js')}}"></script>

<script>

var API = {
    getFavoriteRecipes: "{{=URL('api', 'get_favorite_recipes')}}",
    toggleFavoriteRecipe: "{{=URL('api', 'toggle_favorite_recipe"')}}",
};

var DOWNLOADS_DIR = "{{=URL('default', 'download')}}";

var USER_ID = "{{=auth.user.id}}";



</script>
{{end}}


<main role="main" id="vue-div">

<div class="container mt-4">

	<h1>Favorite recipes</h1>	

  <div class="row">

    <div class="col-sm-12 h-100">

			<div class="card-columns" id="recipe-card-columns">
				<div class="card" v-for="(recipe, index) in favoriteRecipes">
          <img v-if="recipe.image != '' && recipe.image != null" class="card-img-top" v-bind:src='DOWNLOADS_DIR + "/" + recipe.image'>
					<div class="card-body">
						<h3 class="card-title">${recipe.name}</h2>
						<p class="card-text">${recipe.description}<p/>
						<a class="card-link" v-bind:href='"/finalproject/default/recipe/"+recipe.id'>View recipe</a>
					</div>
          <div class="card-footer clearfix">
            <div class="btn btn-sm invisible float-left" v-if="recipe.tags.length == 0">&nbsp;</div>
            <div class="float-left" v-if="recipe.tags.length > 0">
              <small class="text-muted">Tags:</small>
              <button
                v-for="tag in recipe.tags"
                type="button"
                class="btn btn-light btn-sm mr-2 active"
              >
                ${tag.name}
              </button>
            </div>
            <button 
              class="btn btn-light position-absolute recipe-heart-icon"
              v-on:click="removeFavoriteRecipe(index)"
		          v-on:mouseenter="showTimes"	
		          v-on:mouseleave="hideTimes"	
            >
              <i 
                class="fas fa-heart" 
              ></i>
            </button>
					</div>
					<!-- end card-footer -->
				</div>
				<!-- end card -->
			</div>
			<!-- end card-columns -->

    </div>
    <!--- end col-sm-9 (recipes column -->

  </div>

</div> <!-- /container -->

</main>
