{{extend 'layout.html'}} {{block head}}
<script src="{{=URL('static', 'js/default_index.js')}}"></script>

<script>

var API = {
    getTags: "{{=URL('api', 'get_tags')}}",
    getRecipes: "{{=URL('api', 'get_recipes')}}",
    getRecipe: "{{=URL('api', 'get_recipe')}}",
};

var DOWNLOADS_DIR = "{{=URL('default', 'download')}}";

</script>
{{end}}

<main role="main" id="vue-div">

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <main role="main" id="vue-div">

        <h1 class="display-3">The Food Dude</h1>
          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      

    <p><a class="btn btn-primary btn-lg" href="{{=URL('default', 'aboutus')}}" role="button">About Us &raquo;</a></p>
  </div>
</div>

<div class="container">

  <div class="row searchFilter" >

    <div class="col-sm-12" >
			<form class="form-group row">
				<div class="input-group input-group-lg mb-2">
					<input type="text" class="form-control" placeholder="Find a recipe" aria-label="Search" aria-describedby="basic-addon2" v-model="searchString" v-on:keyUp="searchRecipes()" v-on:keyUp.delete="searchRecipes()">
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" type="button" v-on:click="searchRecipes()" >Search</button>
					</div>
				</div>
			</form>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-3 h-100">


			<div class="card mb-4" v-for="(categoryTags, categoryName) in filters">
				<div class="card-header">
          ${categoryName}
				</div>
				<div class="list-group list-group-flush">
          <button 
            v-for="(tagValue, tagName) in categoryTags" 
            class="list-group-item list-group-item-action tag-button" 
            v-on:click="toggleTag(categoryName, tagName)"
            v-bind:class="{'active': isActiveTag(categoryName, tagName)}" 
          >
            ${tagName}

            <div 
              class="btn btn-sm btn-primary tag-heart float-right"
              v-bind:class="{'invisible': !isActiveTag(categoryName, tagName)}" 
              v-on:click="toggleTagFavorite(categoryName, tagName)"
            >
              <i 
                class="fa-heart far"
                v-bind:class="{
                  'far': tagValue.favorite,
                  'fa': tagValue.favorite 
                }"
              ></i>
            </div>
          </button>
				</div>
			</div>

    </div>

    <div class="col-sm-9 h-100">

			<div class="card-columns" id="recipe-card-columns">
				<div class="card" v-for="(recipe, index) in filteredRecipes">
          <img v-if="recipe.image != '' && recipe.image != null" class="card-img-top" v-bind:src='DOWNLOADS_DIR + "/" + recipe.image'>
					<div class="card-body">
						<h3 class="card-title">${recipe.name}</h2>
						<p class="card-text">${recipe.description}<p/>
						<a class="card-link" v-bind:href='"/finalproject/default/recipe/"+recipe.id'>View recipe</a>
					</div>
          <div class="card-footer">
            <small class="text-muted">Tags:</small>
            <button
              v-for="tag in recipe.tags"
              type="button"
              class="btn btn-light btn-sm mr-2"
              v-bind:class="{
                'active': isActiveTag(tag.category, tag.name)
              }"
              v-on:click="toggleTag(tag.category, tag.name)"
            >
              ${tag.name}
            </button>
            <button 
              class="btn btn-light float-right"
              v-on:click="toggleRecipeFavorite(recipe)"
            >
              <i 
                class="fa-heart" 
                v-bind:class="{
                  'far': !isFavoriteRecipe(recipe), 
                  'fas': isFavoriteRecipe(recipe)
                }"
              ></i>
            </button>
					</div>
					<!-- end card-footer -->
				</div>
				<!-- end card -->
			</div>
			<!-- end card-columns -->

    </div>
    <!--- end col-sm-9 (recipes column -->

  </div>

</div> <!-- /container -->

</main>
