{{extend 'layout.html'}} {{block head}}
<script src="{{=URL('static', 'js/default_index_vue.js')}}"></script>

<script>

var API = {
    get_recipes: "{{=URL('api', 'get_recipes')}}",
    get_recipe: "{{=URL('api', 'get_recipe')}}",
};

</script>
{{end}}

<main role="main" id="vue-div">

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">The Food Dude</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
</div>

<div class="container">

  <div class="row searchFilter" >
    <div class="col-sm-12" >
      <div class="input-group" >
        <input id="table_filter" type="text" class="form-control" aria-label="Text input with segmented button dropdown" >
        <div class="input-group-btn" >

          <button id="searchBtn" type="button" class="btn btn-secondary btn-search" ><span class="glyphicon glyphicon-search" >&nbsp;</span> <span class="label-icon" >Search</span></button>
        </div>
      </div>
    </div>
  </div>

      <div class="row">
        <div class="col-sm-12">
          <p>Filter by :
          <label class="container">
            <li><button type="button" class="btn btn-default btn-xs btn-tag">All</button> <input type="checkbox" checked="checked"></li>

            <li v-for="(tag, index) in tags"><button type="button" class="btn btn-default btn-xs btn-tag" v-on:click="toggle_tag(index)">${tag.name}, active: ${tag.active}</button></li>

          </label>

          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" v-for="recipe in filtered_recipes">
          <h2>${recipe.name}</h2>
          <p>${recipe.description}<p/>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>

</div> <!-- /container -->

</main>
