{{extend 'layout.html'}} {{block head}}
<script src="{{=URL('static', 'js/default_index.js')}}"></script>

<script>

var API = {
    getTags: "{{=URL('api', 'get_tags')}}",
    getRecipes: "{{=URL('api', 'get_recipes')}}",
    getRecipe: "{{=URL('api', 'get_recipe')}}",
    toggleFavoriteRecipe: "{{=URL('api', 'toggle_favorite_recipe')}}",
    toggleFavoriteTag: "{{=URL('api', 'toggle_favorite_tag')}}",
};

var DOWNLOADS_DIR = "{{=URL('default', 'download')}}";
var RECIPES_PATH = "{{=URL('default', 'recipe')}}";

var USER_ID = "{{=auth.user.id if auth.user is not None else -1}}"

</script>
{{end}}

<main role="main" id="vue-div" class="fade">

<div class="container mt-4">

  <div class="row searchFilter" >

    <div class="col-sm-12" >
			<form class="form-group row">
				<div class="input-group input-group-lg mb-2">
					<input type="text" class="form-control" placeholder="Find a recipe" aria-label="Search" aria-describedby="basic-addon2" v-model="searchString" v-on:keyUp="searchRecipes()" v-on:keyUp.delete="searchRecipes()">
				</div>
			</form>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-3 h-100">


			<div class="card mb-4" v-for="(categoryTags, categoryName) in filters">
				<div class="card-header">
          ${categoryName}
				</div>
				<div class="list-group list-group-flush">
          <button 
            v-for="(tagValue, tagName) in categoryTags" 
            class="list-group-item list-group-item-action tag-button" 
            v-on:click="toggleTag(categoryName, tagName)"
            v-bind:class="{'active': isActiveTag(categoryName, tagName)}" 
          >
            ${tagName}

            <div 
              class="btn btn-sm  tag-heart float-right"
              v-on:click="toggleTagFavorite(categoryName, tagName)"
            >
              <i 
                class="fa-heart far"
                v-bind:class="{
                  'far': tagValue.favorite,
                  'fa': tagValue.favorite 
                }"
              ></i>
            </div>
          </button>
				</div>
			</div>

    </div>

    <div class="col-sm-9 h-100">

			<div class="card-columns" id="recipe-card-columns">
				<div class="card" v-for="(recipe, index) in filteredRecipes">
          <img v-if="recipe.image != '' && recipe.image != null" class="card-img-top" v-bind:src='DOWNLOADS_DIR + "/" + recipe.image'>
					<div class="card-body">
            <h3 class="card-title"><a v-bind:href='RECIPES_PATH + "/" + recipe.id'>${recipe.name}</a></h2>
						<p class="card-text">${recipe.description}<p/>
					</div>
          <div class="card-footer clearfix">
            <div class="btn btn-sm invisible float-left" v-if="recipe.tags.length == 0">&nbsp;</div>
            <div class="float-left" v-if="recipe.tags.length > 0">
              <small class="text-muted">Tags:</small>
              <button
                v-for="tag in recipe.tags"
                type="button"
                class="btn btn-light btn-sm mr-2"
                v-bind:class="{
                  'active': isActiveTag(tag.category, tag.name)
                }"
                v-on:click="toggleTag(tag.category, tag.name)"
              >
                ${tag.name}
              </button>

            </div>
            <button 
              class="btn btn-light position-absolute recipe-heart-icon" 
              v-on:click="toggleRecipeFavorite(recipe)"
            >
              <i 
                class="fa-heart" 
                v-bind:class="{
                  'far': !isFavoriteRecipe(recipe), 
                  'fas': isFavoriteRecipe(recipe)
                }"
              ></i>
            </button>
					</div>
					<!-- end card-footer -->
				</div>
				<!-- end card -->
			</div>
			<!-- end card-columns -->

    </div>
    <!--- end col-sm-9 (recipes column -->

  </div>

</div> <!-- /container -->

</main>
