{{extend 'layout.html'}} {{block head}}
<script src="{{=URL('static', 'js/default_index.js')}}"></script>

<script>

var API = {
    getRecipes: "{{=URL('api', 'get_recipes')}}",
    getRecipe: "{{=URL('api', 'get_recipe')}}",
};

</script>
{{end}}

<main role="main" id="vue-div">

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-3">The Food Dude</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" href="http://127.0.0.1:8000/finalproject/default/aboutus#" role="button">About Us &raquo;</a></p>
  </div>
</div>

<div class="container">

  <div class="row searchFilter" >

    <div class="col-sm-12" >
			<form class="form-group row">
				<div class="input-group input-group-lg mb-2">
					<input type="text" class="form-control" placeholder="Find a recipe" aria-label="Search" aria-describedby="basic-addon2" v-model="searchString" v-on:keyUp="searchRecipes()" v-on:keyUp.delete="searchRecipes()">
					<div class="input-group-append">
						<button class="btn btn-outline-secondary" type="button" v-on:click="searchRecipes()" >Search</button>
					</div>
				</div>
			</form>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-3 h-100">

			<div class="card mb-4">
				<div class="card-header">
					Tags:
				</div>
				<div class="list-group list-group-flush">
        <button v-for="(tag, index) in tags" type="button" v-bind:class="{'active': isActiveFilter(tag.name)}" class="list-group-item list-group-item-action" v-on:click="toggleTagByName(tag.name)">${tag.name}</button>
				</div>
			</div>

      <!--
      <div class="list-group mt-4">
        <span class="list-group-item">Ingredients:</span>
        <button v-for="(tag, index) in tags" type="button" v-bind:class="{'active': isActiveFilter(tag.name)}" class="list-group-item list-group-item-action" v-on:click="toggleTag(index)">${tag.name}</button>
      </div>
      -->

    </div>

    <div class="col-sm-9 h-100">

			<div class="card-columns" id="recipe-card-columns">
				<div class="card" v-for="recipe in filteredRecipes">
					<div class="card-body">
						<h3 class="card-title">${recipe.name}</h2>
						<p class="card-text">${recipe.description}<p/>
						<a class="card-link" v-bind:href='"/finalproject/default/recipe/"+recipe.id'>View recipe</a>
					</div>
					<div class="card-footer">
						<small class="text-muted">Tags:</small>
						<button
							v-for="tagName in recipe.tags"
							type="button"
							class="btn btn-light btn-sm mr-2"
							v-bind:class="{
								'active': isActiveFilter(tagName)
							}"
							v-on:click="toggleTagByName(tagName)"
						>
								${tagName}
						</button>

					</div>
					<!-- end card-footer -->
				</div>
				<!-- end card -->
			</div>
			<!-- end card-columns -->

    </div>
    <!--- end col-sm-9 (recipes column -->

  </div>

</div> <!-- /container -->

</main>
