{{extend 'layout.html'}} {{block head}}
<script src="{{=URL('static', 'js/default_recipe.js')}}"></script>

<script>

var API = {
    getRecipe: "{{=URL('api', 'get_recipe')}}",
};

var RECIPE_ID = "{{=recipe_id}}";

</script>
{{end}}

<main role="main" id="vue-div">

<div class="container">

  <div class="card mt-4">
    <img class="card-img-top" src="{{=URL('static', 'images', args='fruit.jpg')}}">
    <div class="card-body">
      <h3 class="card-title">Recipe name</h3>
      <p class="card-text">Example text, blah blah blah.</p>
      <small class="text-muted">Prep time: 20 minutes, Cook time: 5 minutes</small>
    </div>
    <div class="card-footer">
      <div class="float-left">
        <small class="text-muted">Tags:</small>
        <button class="btn btn-light btn-sm active ml-2">
          Vegan
        </button>
        <button class="btn btn-light btn-sm active ml-2">
          Vegetarian
        </button>
      </div>
      <!--
      <div class="float-right">
        <button class="btn btn-light btn-sm active ml-2">
          Cook 
          <span class="badge badge-dark">20</span>
        </button>
        <button class="btn btn-light btn-sm active ml-2">
          Prep 
          <span class="badge badge-dark">5</span>
        </button>
      </div>
      -->
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-header">
      Ingredients
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </div>

  <div class="card mt-4">
    <div class="card-header">
      Instructions
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Cras justo odio</li>
      <li class="list-group-item">Dapibus ac facilisis in</li>
      <li class="list-group-item">Vestibulum at eros</li>
    </ul>
  </div>



</div> <!-- /container -->

</main>
