{{extend 'layout.html'}} {{block head}}
<script src="{{=URL('static', 'js/default_recipe.js')}}"></script>

<script>

var API = {
    getRecipe: "{{=URL('api', 'get_recipe')}}",
};

var RECIPE_ID = "{{=recipe_id}}";

var DOWNLOADS_DIR = "{{=URL('default', 'download')}}";



</script>
{{end}}

<main role="main" id="vue-div">

<div class="container">

  <div class="card mt-4">
    <img v-if="recipe.image != ''" class="card-img-top recipe-image" v-bind:src='DOWNLOADS_DIR + "/" + recipe.image'>
    <div class="card-body">
      <h3 class="card-title">${recipe.name}</h3>
      <p class="card-text">${recipe.description}.</p>
      <small class="text-muted">Prep time: ${recipe.prep_time} minutes, Cook time: ${recipe.cook_time} minutes</small>
    </div>
    <div class="card-footer" v-if="recipe.tags != null && recipe.tags.length > 0">
      <div class="float-left">
        <small class="text-muted">Tags:</small>
        <button v-for="tag in recipe.tags" class="btn btn-light btn-sm active ml-2">
          ${tag}
        </button>
      </div>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-header">
      Ingredients
    </div>
    <ul class="list-group list-group-flush">
      <li v-for="ingredient in recipe.ingredients" class="list-group-item">${ingredient}</li>
    </ul>
  </div>

  <div class="card mt-4">
    <div class="card-header">
      Instructions
    </div>
    <ul class="list-group list-group-flush">
      <li v-for="(instruction, index) in recipe.instr" class="list-group-item">${index + 1}. ${instruction}</li>
    </ul>
  </div>



</div> <!-- /container -->

</main>
