{{extend 'layout.html'}} {{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
var my_url = "{{=URL('api', 'my_method')}}";
</script>
{{end}}


<body>


    <!-- Page Content -->
    <div class="container">
        <h1 class="my-4 text-center text-lg-left">{{=recipe.name}}</h1>
        <p>{{=recipe.description}}</p>
        <img class="img-fluid img-thumbnail" src="{{=URL('default', 'download', args=recipe.image)}}" alt="">
    </div>
    <script src="{{=URL('static', 'js/default_index.js')}}"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="{{=URL('static', 'js/jquery.min.js')}}" ></script>
    <script src="{{=URL('static', 'js/bootstrap.bundle.min.js')}}"></script>
</body>
