<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="{{=URL('static', 'fontawesome-free-5.0.13/web-fonts-with-css/css/fontawesome-all.min.css')}}">

    <link href="{{=URL('static','css/custom.css')}}" rel="stylesheet" type="text/css"/>

    {{include "web2py_ajax.html"}}

<script>
var API = {
    getTags: "{{=URL('api', 'get_tags')}}",
    getRecipes: "{{=URL('api', 'get_recipes')}}",
    getRecipe: "{{=URL('api', 'get_recipe')}}",
    getFavoriteRecipes: "{{=URL('api', 'get_favorite_recipes')}}",
    toggleFavoriteRecipe: "{{=URL('api', 'toggle_favorite_recipe')}}",
    toggleFavoriteTag: "{{=URL('api', 'toggle_favorite_tag')}}",
};

var DOWNLOADS_DIR = "{{=URL('default', 'download')}}";
var RECIPES_PATH = "{{=URL('default', 'recipe')}}";

var USER_ID = "{{=auth.user.id if auth.user is not None else -1}}";
</script>


    {{block head}}{{end}}
  </head>

<!--
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          {{=MENU(response.menu,_class='navbar-nav',ul_class='dropdown-menu',li_class='menu')}}
          {{=auth.navbar(mode='dropdown')}}
        </div>
      </div>
    </nav>
-->


<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="{{=URL('default', 'index')}}">Food Dude's Foods</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item {{=('active' if page == 'index' else '')}}">
            <a class="nav-link" href="{{=URL('default', 'index')}}">Recipes <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item {{=('active' if page == 'aboutus' else '')}}">
            <a class="nav-link" href="{{=URL('default', 'aboutus')}}">About Us</a>
          </li>
        	{{if auth.user is not None:}}
          <li class="nav-item {{=('active' if page == 'favorites' else '')}}">
            <a class="nav-link" href="{{=URL('default', 'favorites')}}">Favorite Recipes</a>
          </li>
			    {{pass}}	



        </ul>

        {{if auth.user is None:}}
          <ul class=navbar-nav>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Registration</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="{{=URL('default', 'user', args=['login'])}}">Log in</a>
                <a class="dropdown-item" href="{{=URL('default', 'user', args=['register'])}}">Sign up</a>
              </div>
            </li>
          </ul>
        {{else:}}
          <ul class=navbar-nav>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{=auth.user.first_name}}</a>
              <div class="dropdown-menu" aria-labelledby="dropdown01">
                <a class="dropdown-item" href="{{=URL('default', 'user', args=['logout'])}}">Log out</a>
                <a class="dropdown-item" href="{{=URL('default', 'user', args=['request_reset_password'])}}">Lost password</a>
              </div>
            </li>
          </ul>

        {{pass}}
      </div>
    </nav>


    {{include}}

</body>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="{{=URL('static','js/marked.min.js')}}"></script>
  <script src="{{=URL('static','js/vue.min.js')}}"></script>
</html>
