/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}


@media (min-width: 576px) {
    #recipe-card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    #recipe-card-columns {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    #recipe-card-columns {
        column-count: 2;
    }
}

@media (min-width: 1200px) {
    #recipe-card-columns {
        column-count: 2;
    }
}

/* hack so button doesn't get smaller on hover */
.recipe-times-icon {
  padding-left: 2;
  padding-right: 3;
}

/* hack to make heart display in correct position */
.recipe-heart-icon {
  right: 1.25rem;
  height: 31px;
}
